Package: firmware-b43-installer
Source: b43-fwcutter
Version: 1:019-1
Architecture: all
Maintainer: Daniel Echeverry <epsilon77@gmail.com>
Installed-Size: 56
Depends: b43-fwcutter (>= 1:019-1), bzip2, wget
Breaks: firmware-b43-lpphy-installer (<= 1:015-14)
Replaces: firmware-b43-lpphy-installer (<= 1:015-14)
Section: contrib/kernel
Priority: optional
Homepage: http://wireless.kernel.org/en/users/Drivers/b43
Description: firmware installer for the b43 driver
 This package downloads and installs the firmware needed by the b43
 kernel driver for some Broadcom 43xx wireless network cards.
 .
 Supported chipsets:
  * BCM4306/3;
  * BCM4311;
  * BCM4318;
  * BCM4321;
  * BCM4322 (only 14e4:432b);
  * BCM4312 (with Low-Power a.k.a. LP-PHY).
